@font-face {
    font-family: 'Corinthia';
    src: url('../public/fonts/Corinthia-Regular.ttf');
    font-weight: 100;
    font-style: normal;
  }

  @font-face {
    font-family: 'HedvigLettersSerif';
    src: url('../public/fonts/HedvigLettersSerif-Regular-VariableFont_opsz.ttf');
    font-weight: 100;
    font-style: normal;
  }
  
  body {
    font-family: 'HedvigLettersSerif', sans-serif;
  }
  .vel-toolbar .toolbar-btn{
    display: none !important;
  }
  .vel-img{
    transform: scale(1.2);
  }
  img {
      pointer-events: none;
      -webkit-user-drag: none;
  }
  